@import "../reindeer/legacy-styles.css";

.background {
	background: #C0C0C0;
}

.content {
	background: white;
}

.header {
	background: black;
}

.innerHeader {
	background: white
}

.smallMargin.v-margin-left   {padding-left:   5px;}
.smallMargin.v-margin-right  {padding-right:  5px;}
.smallMargin.v-margin-top    {padding-top:    5px;}
.smallMargin.v-margin-bottom {padding-bottom: 5px;}
